.satisfacao {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 40px 10%;
}

.satisfacao h1 {
    font-size: 2em;
    font-family: "Owsald", sans-serif;
    font-weight: bold;
    text-align: center;
    color: #1a2a6c;
}

.satisfacao-descricao {
    font-size: 1.2em;
    color: #01040d;
}

.satisfacao-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.satisfacao-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    text-align: center;
    background: linear-gradient(135deg, #dbb826, #f9d235);
    padding: 20px;
    border-radius: 10px;
    box-shadow: -8px 4px 4px #1a2a6c;
}

.satisfacao-item h3 {
    font-size: 1.5em;
    color: #01040d;
    font-family: 'Roboto Mono', monospace;
}

.satisfacao-item p {
    font-size: 1em;
    color: #01040d;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 768px) {
    .satisfacao {
        padding: 20px 2%;
    }

    .satisfacao-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .satisfacao-descricao {
        text-align: justify;
        font-size: 1em;
    }

    .satisfacao-item {
        max-width: 90%;
    }
}