.carrossel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
.carrossel img {
    width: 100%;;
}

.carrossel h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    background: linear-gradient(135deg, #1a2a6c, #2b5876);
    padding: 20px 100px;
    border-radius: 20px;
    color: #dbb826;
    margin-bottom: 20px;
}

.swiper-container {
    max-width: 70%;
    
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}



.swiper-slide p {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #030114;
}

@media screen and (max-width: 768px) {
    .carrossel h1 {
        font-size: 1.8rem;
        padding: 15px 50px;
        text-align: center;
    }

    .swiper-container {
        max-width: 90%;
    }

    .swiper-slide p {
        font-size: 1rem;
    }
}