.slogan {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin: 12% 0;
}

.slogan h1 {
    font-family: 'Arial Black', Arial, sans-serif;
    font-size: 50px;
    color: #0d132e;
    text-align: center;
    margin: 0;
}

.slogan p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
}

.slogan .estatisticas {
    margin: 120px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.slogan .estatistica {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.slogan .estatistica h2 {
    font-size: 70px;
    font-family: "Oswald", sans-serif;
    color: #dbb826;
}

.slogan .estatistica p {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: bold;
   max-width: 220px;
}

@media screen and (max-width: 768px) {
    .slogan {
        margin: 20% 0;
        gap: 20px;
        padding: 0 10px;
    }

    .slogan h1 {
        font-size: 36px;
    }

    .slogan p {
        font-size: 18px;
    }

    .slogan .estatisticas {
        margin: 80px 0;
        gap: 30px;
    }

    .slogan .estatistica h2 {
        font-size: 40px;
    }

    .slogan .estatistica p {
        font-size: 20px;
        max-width: 150px;
    }
    
}