.cabecalho {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background: linear-gradient(135deg, #1a2a6c, #2b5876);
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 50px;
    height: 5%;
    z-index: 1000;
}

.cabecalho ul {
    margin-left: 50px;
    display: flex;
    gap: 50px;
    list-style: none;
}

.cabecalho a{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #dbb826;
}

.cabecalho a:hover{
    color: #ffffff;
    transition: 0.3s;
}

.cabecalho img{
    width: 260px;
    height: auto;
}

.menu-hamburguer {
    display: none;
    background: none;
    border: none;
    font-size: 2.5rem;
    color: #dbb826;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu-hamburguer {
        display: block;
        margin-left: auto;
    }

    .cabecalho {
        padding: 20px;
        gap: 10px;
    }

    .cabecalho img{
        width: 210px;
        height: auto;
    }
    .cabecalho ul {
        display: none;
        position: absolute;
        flex-direction: column;
        gap: 10px;
        width: 40%;
        top: 80px;
        right: 0;
        left: auto;
        width: 60%;
        background: linear-gradient(135deg, #1a2a6c, #2b5876);
        padding: 10px 10px;
    }

    .cabecalho a{
        font-size: 20px;
    }
    .cabecalho ul.ativo {
        display: flex;
    }
}